doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    link(href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type='text/css')
    - if (global.process.env.NODE_ENV === "production")
      link(rel="stylesheet" href="style.css")
    - else
      script(src="style.js")
    title .mpls to chapter
    script(src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js")
    script(src="https://unpkg.com/@yagisumi/mpls")
  body
    .header.theme.center .mpls to chapter
    #app.container
      .droparea(:class="{ dropped: isDropped(), dragover: isDragOver }")
        span Drop mpls files
        .file_input
          label Select File...
            input(type="file" multiple @change="selected")
      .mpls_list(v-if="mpls_ary.length > 0")
        .file.col.border.shadow(v-for="(item, idx) in mpls_ary" :key="idx")
          .name.cell.grow1.theme
            | {{ item.name }}
          pre.error.cell.grow1.padding(v-if="item.error")
            | {{ error_message(item.error) }}
          .mpls.cell.grow1.col(v-else)
            pre.info.cell.grow1.padding.border-bottom {{ stream_info(item.mpls) }}
            .cell.grow1.row
              pre.chapters.cell.padding {{ chapters_info(item.mpls) }}
              .output.cell.grow1.border-left.col
                ul.tabs.cell.row
                  li.tab.cell(:class="{selected: selectedTab === 'ogg'}")
                    a(@click.prepend.stop="selectedTab = 'ogg'") OGG (txt)
                  li.tab.cell(:class="{selected: selectedTab === 'simple'}")
                    a(@click.prepend.stop="selectedTab = 'simple'") SIMPLE (txt)
                  li.tab.cell(:class="{selected: selectedTab === 'dump'}")
                    a(@click.prepend.stop="selectedTab = 'dump'") DUMP (json)
                textarea.cell.grow1(readonly v-show="selectedTab === 'ogg'") {{ output_ogg(item.mpls) }}
                textarea.cell.grow1(readonly v-show="selectedTab === 'simple'") {{ output_simple(item.mpls) }}
                textarea.cell.grow1(readonly v-show="selectedTab === 'dump'") {{ output_dump(item.mpls) }}
            .down-link.cell.grow1.right.border-top.padding
              .cell(v-show="selectedTab === 'ogg'")
                span {{ item.name + '-OGG.txt' }}
                a(:download="item.name + '-OGG.txt'" @click.stop :href="content_url(output_ogg(item.mpls), 'text/plain')") Download
              .cell(v-show="selectedTab === 'simple'")
                span {{ item.name + '-SIMPLE.txt' }}
                a(:download="item.name + '-SIMPLE.txt'" @click.stop :href="content_url(output_simple(item.mpls), 'text/plain')") Download
              .cell(v-show="selectedTab === 'dump'")
                span {{ item.name + '-DUMP.json' }}
                a(:download="item.name + '-DUMP.json'" @click.stop :href="content_url(output_dump(item.mpls), 'application/json')") Download
    script(src="main.js")


