$theme-color: #17e
$theme-color2: #fff
$rem: 16px

@function rem($n)
  @return $n * $rem

.theme
  background-color: $theme-color
  color: $theme-color2
.shadow
  box-shadow: 0px 1px 6px 3px #ddd
.right
  text-align: right
.left
  text-align: left
.center
  text-align: center
.b
  font-weight: bold
.zero
  margin: 0
  padding: 0

html
  font-size: rem(1)
body
  background-color: #eee
  color: #333
  padding: 0
  margin: 0
  font-family: Inconsolata
textarea
  border: none
  font-family: Inconsolata
pre, code, tt
  font-family: Inconsolata
  font-size: rem(1)
  margin: 0
  padding: rem(0.3)
.container
  max-width: 800px
  margin: 0 auto
.header
  font-size: rem(1.5)
  padding: rem(0.5)
.droparea
  padding: rem(3)
  margin-top: rem(1)
  font-size: rem(3)
  text-align: center
  color: $theme-color
  background-color: $theme-color2
  border: dashed rem(0.2) $theme-color
  border-radius: rem(0.5)
  transition: all 300ms 0s ease
  &.dragover
    background-color: rgba($theme-color, 0.3)
  .file_input
    font-size: rem(1)
    text-align: center
    padding: rem(1)
    input
      display: none
    label
      user-select: none
      padding: rem(0.3) rem(1)
      color: $theme-color
      background-color: rgba(255, 255, 255, 0.2)
      border: solid 1px $theme-color
      border-radius: 3px
      transition: all 100ms 0s ease
      &:hover
        color: $theme-color2
        border-color: $theme-color
        background-color: $theme-color
      &:focus
        outline: 0
        text-decoration: underline
  &.dropped
    padding: rem(0.4)
    font-size: rem(1.5)
    border-width: rem(0.15)
    .file_input
      display: inline
      label
        margin: rem(0.2) rem(0.5)
        padding: rem(0.1) rem(0.8)

.table-col
  display: flex
  flex-direction: column
.table-row
  display: flex
  flex-direction: row
.border
  border: solid 1px gray
.table-cell
  margin: 0
  padding: 0
  &.grow1
    flex-grow: 1
  &.grow2
    flex-grow: 2
  &.padding
    padding: rem(0.3) rem(1)
  &.border-top
    border-top: solid 1px gray
  &.border-bottom
    border-bottom: solid 1px gray
  &.border-left
    border-left: solid 1px gray
  &.border-right
    border-right: solid 1px gray
.file
  background-color: #fff
  margin: rem(2) 0
  font-family: Inconsolata
  .name
    padding: rem(0.6) rem(1)
  .error
    color: #f00
  .mpls
    margin: 0
    padding: 0
.output
  textarea
    min-height: rem(12)
    overflow: scroll
    font-size: rem(1)
    padding: rem(0.4)
    outline: none
    background-color: #fff
ul.tabs
  list-style: none
  display: flex
  padding: 0 rem(1)
  margin: 0
  border-bottom: solid 1px gray
  li.tab
    margin: 0
    padding: 0
    padding-top: rem(0.5)
    display: flex
    a
      display: flex
      padding: rem(0.4) rem(0.8)
      cursor: pointer
      user-select: none
      margin-bottom: -1px
      border-bottom: solid 1px gray
      border-top: solid 3px #aaa
      background-color: #fff
      border-right: solid 1px gray
      &:hover
        background-color: rgba($theme-color, 0.2)
    &:first-child
      a
        border-left: solid 1px gray
    &.selected
      a
        border-top: solid 3px $theme-color
        background-color: #fff
        border-bottom-color: #fff
.down-link
  justify-content: flex-end
  span
    margin-right: rem(2)
  a
    cursor: pointer
    text-decoration: none
    display: inline-block
    color: $theme-color
    background-color: $theme-color2
    border: solid 1px $theme-color
    padding: rem(0.3) rem(1.5)
    border-radius: rem(0.2)
    transition: all 100ms 0s ease
    &:hover
      color: $theme-color2
      border-color: $theme-color
      background-color: $theme-color
